.games-header {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    background-color: #fff;
    font-family: 'Garet', sans-serif;
    height: 3vh;
    margin-bottom: 20px;
  
    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 40px;
      }
  
    .nav-links {
      margin-left: 40px;
      display: flex;
      gap: 20px;
  
      a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        padding: 6px 12px;
        border-radius: 6px;
        transition: background-color 0.2s;
  
        &:hover {
          background-color: #f0f0f0;
        }
  
        &.active-link {
          background-color: black;
          color: white;
        }
      }
    }
  
    .spacer {
      flex: 1;
    }
  
    .profile-icon {
      height: 32px;
      width: 32px;
      border-radius: 50%;
    }
  }
  